.popup__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  padding: 36px;
  border-radius: 10px;
  width: 430px;
}

@media screen and (max-width: 918px) {
  .popup__container {
    margin: 0 19px;
  }
}

@media screen and (max-width: 620px) {
  .popup__container {
    width: 100%;
    padding: 25px 22px;
  }
}
