.header__logo {
  width: auto;
  height: auto;
  margin-bottom: 41px;
}

@media screen and (max-width: 918px) {
  .header__logo {
    margin: 0 19px 41px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    margin: 0 0 28px 27px;
  }
}
