.profile__description {
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  width: 100%;
  margin: 16px 0 0 0;
}

@media screen and (max-width: 620px) {
  .profile__description {
    margin: 14px auto 0;
    width: 100%;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
